
<style>
  body{
      background-color:#1f1f1f;
  }
  html 
    {
      overflow: auto;
    }
 
html, body, div, iframe 
  {
   margin: 0px; 
   padding: 0px; 
   height: 100%; 
   border: none;
}
  iframe 
  {
 display: block; 
 width: 100%; 
 border: none; 
 overflow-y: auto; 
 overflow-x: hidden;
    margin:0, auto;
  }
</style>

      <iframe src="https://game316009.konggames.com/gamez/0031/6009/live/index.html" 
    frameborder="0"
    marginheight="0" 
    marginwidth="0" 
    width="100%" 
    height="100%" 
    scrolling="auto"></iframe>

    <script src="script.js">
      
    </script>
   
